.card{
    width: 300px;
    text-align: left;
    /* border: 1px solid grey; */
    /* border-radius: 6px; */
    overflow: hidden;
    margin-bottom: 45px;
    /* margin-right: 10px; */
}
  
  .card p {
    padding: 5px;

  }
  
  .card img {
    width: 100%;
  }

/* @media screen and (max-width: 768px){
    .card{
      margin-right: 50px;
    }
}

@media screen and (max-width: 450px){
    
  .card{
    margin-right: 0px;
  }

  
} */
